// By https://codepen.io/mblode/details/evjfn

$light: #efefef;
$color: #b3e5fc;

@mixin btn($left, $top) {
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  transition-duration: 0.5s;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 12px;
  background-color: $light;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $light;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $light;
  content: "";
  top: $top;
}

@mixin icon-circle($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 2px;
  border-radius: 100%;
  background: transparent;
  border: 4px solid black;
  left: -15px;
}

.menu {
  @include btn(240px, 200px);

  .icon-E {
    @include icon(4px, 40px);
    transition-delay: 0.5s;

    &:before {
      @include icon-before(4px, 40px, -10px);
    }

    &:after {
      @include icon-after(4px, 40px, 10px);
    }
  }

  .icon-X {
    @include icon(0px, 200px);
    transform: scaleX(0);
    transform-origin: 30px 0px;

    &:before {
      @include icon-before(4px, 30px, -10px);
      transform: rotateZ(45deg) scaleX(1.25) translate(3px, 10px);
    }

    &:after {
      @include icon-after(4px, 30px, 10px);
      transform: rotateZ(-45deg) scaleX(1.25) translate(3px, -10px);
    }

    &:hover {
      cursor: pointer;
    }
  }

  &.open {
    .icon-E {
      transition-duration: 0.5s;
      transform: scaleX(0);
      transition-delay: 0s;
    }

    .icon-X {
      transition: 0.5s;
      transition-delay: 0.5s;
      transform: scaleX(1) translateX(10px);
    }
  }
  &:hover {
    cursor: pointer;
  }
}
